<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <p><%= button_link_to t(:new_supplier), new_object_url, :icon => 'add', :id => 'admin_new_supplier_link' %></p>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:listing_suppliers) %></h1>

<table class="index" id="listing_suppliers" data-hook>
  <thead>
    <tr data-hook="admin_suppliers_index_headers">
      <th><%= sort_link @search,:name, Supplier.human_attribute_name(:name), {}, {:title => 'suppliers_name_title'} %></th>
      <th data-hook="admin_suppliers_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier|%>
      <tr id="<%= dom_id supplier %>" data-hook="admin_suppliers_index_rows">
        <td><%=link_to supplier.name, object_url(supplier) %></td>
        <td data-hook="admin_suppliers_index_row_actions">
          <%= link_to_edit supplier, :class => 'edit' %> &nbsp;
          <%= link_to_delete supplier %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @suppliers %>